[Desktop Entry]
Name=Parley
Name[hi]=पारले
Name[km]=ការ​ចរចា
Name[ne]=पार्ली
Name[sl]=Parely
Name[x-test]=xxParleyxx
Comment=Vocabulary Cards
Comment[el]=Κάρτες λεξιλογίου
Comment[ga]=Cártaí Stóir Focal
Comment[km]=កាត​វាក្យស័ព្ទ
Comment[nds]=Vokavel-Koorten
Comment[pt]=Cartões de Vocabulário
Comment[pt_BR]=Cartões de Vocabulário
Comment[sv]=Ordförrådskort
Comment[uk]=Словникові картки
Comment[zh_CN]=单词卡
Comment[zh_TW]=字彙卡
Icon=parley
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_parley
X-KDE-PluginInfo-Author=Frederik Gladhorn
X-KDE-PluginInfo-Email=frederik.gladhorn@kdemail.net
X-KDE-PluginInfo-Name=plasma_applet_parley
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
