[Desktop Entry]
Name=Parley
Name[ast]=Parley
Name[bs]=Parley
Name[ca]=Parley
Name[ca@valencia]=Parley
Name[cs]=Parley
Name[csb]=Parley
Name[da]=Parley
Name[de]=Parley
Name[el]=Parley
Name[en_GB]=Parley
Name[eo]=Parley
Name[es]=Parley
Name[et]=Parley
Name[eu]=Berba egin
Name[fi]=Parley
Name[fr]=Parley
Name[ga]=Parley
Name[gl]=Parley
Name[gu]=પારેલે
Name[he]=Parley
Name[hi]=पारले
Name[hne]=पारले
Name[hr]=Parley
Name[hu]=Parley
Name[is]=Parley
Name[it]=Parley
Name[ja]=Parley
Name[km]=Parley
Name[ko]=Parley
Name[lt]=Parley
Name[lv]=Parley
Name[ml]=പാര്‍ലി
Name[nb]=Parley
Name[nds]=Parley
Name[ne]=पार्ली
Name[nl]=Parley
Name[nn]=Parley
Name[pl]=Parley
Name[pt]=Parley
Name[pt_BR]=Parley
Name[ro]=Parley
Name[ru]=Parley
Name[sl]=Parely
Name[sv]=Parley
Name[tr]=Parley
Name[ug]=Parley
Name[uk]=Parley
Name[x-test]=xxParleyxx
Name[zh_CN]=Parley
Name[zh_TW]=語言_Parley
Comment=Vocabulary Cards
Comment[ast]=Tarxetes de vocabulariu
Comment[bs]=Rječničke kartice
Comment[ca]=Fitxes de vocabulari
Comment[ca@valencia]=Fitxes de vocabulari
Comment[cs]=Kartičky na procvičování slovní zásoby
Comment[da]=Ordforrådskort
Comment[de]=Vokabelkarten
Comment[el]=Κάρτες λεξιλογίου
Comment[en_GB]=Vocabulary Cards
Comment[es]=Tarjetas de vocabulario
Comment[et]=Sõnavara kaardid
Comment[eu]=Hiztegiko txartelak
Comment[fi]=Sanastokortit
Comment[fr]=Cartes de vocabulaire
Comment[ga]=Cártaí Stóir Focal
Comment[gl]=Cartolinas de vocabulario
Comment[gu]=શબ્દયાદી માહિતી
Comment[he]=כרטיסי אוצר מילים
Comment[hne]=सब्दावली कार्ड
Comment[hu]=Szótárfüzetek
Comment[is]=Orðaforðaspjöld
Comment[it]=Carte di vocabolari
Comment[ja]=語彙カード
Comment[km]=កាត​វាក្យស័ព្ទ
Comment[ko]=어휘 카드
Comment[lt]=Žodyno kortelės
Comment[lv]=Vārdnīcas kārtis
Comment[ml]=വാക്പട്ടിക കാര്‍ടുകള്‍
Comment[nb]=Glosekort
Comment[nds]=Vokavel-Koorten
Comment[nl]=Woordenschatkaarten
Comment[nn]=Ordkort
Comment[pl]=Karty do nauki słownictwa
Comment[pt]=Cartões de Vocabulário
Comment[pt_BR]=Cartões de vocabulário
Comment[ru]=Словарные карточки
Comment[sv]=Ordförrådskort
Comment[tr]=Kelime Kartları
Comment[uk]=Словникові картки
Comment[x-test]=xxVocabulary Cardsxx
Comment[zh_CN]=单词卡
Comment[zh_TW]=字彙卡
Icon=parley
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_parley
X-KDE-PluginInfo-Author=Frederik Gladhorn
X-KDE-PluginInfo-Email=frederik.gladhorn@kdemail.net
X-KDE-PluginInfo-Name=plasma_applet_parley
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
