[KGameTheme]
Name=Clean
Name[el]=Καθαρό
Name[et]=Klaar
Name[ga]=Glan
Name[km]=ស្អាត
Name[nds]=Oprüümt
Name[pt]=Limpo
Name[pt_BR]=Limpo
Name[sv]=Rent
Name[tr]=Temiz
Name[zh_CN]=简洁
Name[zh_TW]=乾淨
Description=Clean theme for KDE 4
Description[el]=Καθαρό θέμα για το KDE 4
Description[et]=KDE 4 klaar teema
Description[ga]=Téama glan le haghaidh KDE 4
Description[gl]=Tema "clean" para KDE 4
Description[km]=ស្បែក​ស្អាត​សម្រាប់ KDE 4
Description[nds]=Muster »Oprüümt« för KDE 4
Description[pt]=Tema limpo para o KDE 4
Description[pt_BR]=Tema limpo para o KDE 4
Description[sv]=Rent tema för KDE 4
Description[tr]=KDE 4 Temasını temizle
Description[uk]=Тема «Clean» для KDE 4
Description[zh_CN]=KDE 4 简洁主题
Description[zh_TW]=KDE 4 乾淨的主題
VersionFormat=1
Author=capel
Type=SVG
FileName=clean_theme.svgz
Preview=clean_preview.png
