[KGameTheme]
Name=Clean
Name[ca]=Net
Name[cs]=Smazat
Name[de]=Sauber
Name[el]=Καθαρό
Name[es]=Limpio
Name[et]=Klaar
Name[fr]=Épuré
Name[ga]=Glan
Name[gu]=ચોખ્ખું
Name[hne]=साफ
Name[it]=Semplice
Name[ja]=クリーン
Name[km]=ស្អាត
Name[lv]=Tīra
Name[nb]=Rent
Name[nds]=Oprüümt
Name[nl]=Schoon
Name[pa]=ਸਾਫ਼
Name[pt]=Limpo
Name[pt_BR]=Limpo
Name[ru]=Очистить
Name[sv]=Rent
Name[tr]=Temiz
Name[x-test]=xxCleanxx
Name[zh_CN]=简洁
Name[zh_TW]=乾淨
Description=Clean theme for KDE 4
Description[ca]=Un tema net per al KDE 4
Description[cs]=Smazat téma určené pro KDE 4
Description[da]=Temaet Clean til KDE 4
Description[de]=Sauberes Thema für KDE 4
Description[el]=Καθαρό θέμα για το KDE 4
Description[es]=Tema limpio para KDE 4
Description[et]=KDE 4 klaar teema
Description[fr]=Thème épuré pour KDE 4
Description[ga]=Téama glan le haghaidh KDE 4
Description[gl]=Tema "clean" para KDE 4
Description[gu]=KDE ૪ માટે ચોખ્ખી થીમ
Description[hne]=केडीई ४ बर साफ प्रसंग
Description[it]=Tema semplice per KDE 4
Description[ja]=KDE 4 のためのきれいなテーマ
Description[km]=ស្បែក​ស្អាត​សម្រាប់ KDE 4
Description[lt]=Clean tema skirta KDE 4
Description[lv]=Tīra tēma priekš KDE 4
Description[nb]=Rent tema for KDE 4
Description[nds]=Muster »Oprüümt« för KDE 4
Description[nl]=Schoon thema voor KDE 4
Description[pa]=KDE 4 ਲਈ ਸਾਫ਼ ਥੀਮ
Description[pt]=Tema limpo para o KDE 4
Description[pt_BR]=Tema limpo para o KDE4
Description[ru]=Минималистичная тема для KDE4
Description[sv]=Rent tema för KDE 4
Description[tr]=KDE 4 için temiz bir tema
Description[uk]=Тема «Clean» для KDE 4
Description[x-test]=xxClean theme for KDE 4xx
Description[zh_CN]=KDE 4 简洁主题
Description[zh_TW]=KDE 4 乾淨的主題
VersionFormat=1
Author=capel
Type=SVG
FileName=clean_theme.svgz
Preview=clean_preview.png
