[KGameTheme]
Name=Default
Name[ca]=Omissió
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[ga]=Réamhshocrú
Name[gl]=Por omisión
Name[gu]=મૂળભૂત
Name[he]=ברירת מחדל
Name[km]=លំនាំដើម
Name[nb]=Standard
Name[nds]=Standard
Name[nn]=Standard
Name[oc]=Defaut
Name[pt]=Predefinição
Name[pt_BR]=Predefinição
Name[sv]=Standard
Name[tr]=Öntanımlı
Name[uk]=Типова
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Default theme for KDE 4
Description[ca]=Tema predeterminat per al KDE 4
Description[de]=Standard-Thema für KDE 4
Description[el]=Προκαθορισμένο θέμα για το KDE 4
Description[es]=Tema predeterminado para KDE 4
Description[et]=KDE 4 vaiketeema
Description[ga]=Téama réamhshocraithe le haghaidh KDE 4
Description[gl]=Tema predeterminado para KDE 4
Description[gu]=KDE ૪ માટે મૂળભૂત થીમ
Description[he]=ערכת נושא ברירת מחדל עברו KDE 4
Description[km]=ស្បែក​លំនាំដើម​សម្រាប់ KDE 4
Description[nb]=Standardtema for KDE 4
Description[nds]=Standardmuster för KDE 4
Description[nn]=Standardtema for KDE 4
Description[pt]=Tema predefinido para o KDE 4
Description[pt_BR]=Tema predefinido para o KDE 4
Description[sv]=Standardtema för KDE 4
Description[tr]=KDE 4 için öntanımlı tema
Description[uk]=Типова тема для KDE 4
Description[x-test]=xxDefault theme for KDE 4xx
Description[zh_CN]=KDE 4 默认主题
Description[zh_TW]=KDE 4 預設主題
VersionFormat=1
Author=leeo
Type=SVG
FileName=default_theme.svgz
Preview=default_preview.png

