[KGameTheme]
Name=Default
Description=Default theme for KDE 4
VersionFormat=1
Author=leeo
Type=SVG
FileName=default_theme_mc.svgz
Preview=default_preview.png

