Elements required (sorted by mode required):

Any of these can be visible or invisible.
Note on terminology: 'solution' is the correct response. 'answer' is anything the user inputs, and it may or may not match the solution.

Optional:
progress_bar # this element will be scaled in proportion to bar_background to show progress. Note: if existant, it must be visible.
progress_bar_background # this element will determine how the bar in scaled. At 100% progress, bar will cover the same area as bar_background
feedback_box # A feedback sentence is placed here (telling the user if it is correct and hints if it is wrong, etc). This is highly reccomended in a theme.

Optional UI elements: (If these do not exist, they are still available from the menus)
check_answer_and_continue_button # a button that toggles between displaying 'check answer' and 'continue' is placed here.

Note: These can be turned off in settings; if they are, the buttons won't be shown (ie, make them invisible or it will look wierd)
skip_known_button # show a button to skip to the next question while signalling you know the solution
skip_unknown_button # show a button to skip to the next question while signally you don't know the solution
hint_button # show a button to give a hint.
show_solution_button # shows the solution and counts the question as incorrectly answered (See flashcard for exception)

Timers: Implement either 0 or 1 of these:
timer_progress_box # A timer is shown as an embedded QProgressBar.
timer_digital_clock # A timer is shown as a number in an embedded widget.
timer_bar / timer_bar_background # A timer is shown as a progress bar (counting down).
timer_clock # A timer is shown as a graphical clock of some sort.

Written:
answer_text_box # the text input widget will be placed here
image_box # this will be filled with the image
sound_box # this will contain a button to play the sound
question_text_box # the question text will be placed here, vertically centered

Flashcard:
flashcard_text_box # where to put the text on the flashcard (both the question and solution can be put here)
show_solution_button # On this one it shows the solution, but doesn't automatically count it as wrong. Also, it is non-optional for this mode.
known_button # this indicates you know the solution
unknown_button # this indicates you didn't know the solution

Multiple Choice:
image_box
sound_box
question_text_box
answer_mc_box # this holds the multiple choice widget. Note: up to 9 choices are allowed, and 5 is default, so this has to be fairly large.

Article training:
question_text_box
answer_mc_box

Mixed Letters:
question_mixed_letters_box # This box holds the mixed up letters. Note: Make this reasonably large.
answer_text_box

Example:
Paraphrase:
Comparison:
See Written, image/sound optional

Antonym:
Synonym:
See Multiple Choice, image/sound optional

Conjugation:
question_text_box
input method unknown, but leave some space
