This has been ported to techbase and temporarily placed here:

http://techbase.kde.org/User_talk:Wotnarg

It will later be moved to somewhere more appropriate. This version is no longer authoritive, so it is being remade as a link to the authoritive version.
