<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="parleypractice" version="1">
  <MenuBar>
    <Menu name="Navigation" >
      <text>Navigation</text>
      <Action name="check answer" />
      <Action name="continue" />
      <Action name="skip known" />
      <Action name="skip unknown" />
      <Action name="select option 1" />
      <Action name="select option 2" />
      <Action name="select option 3" />
      <Action name="select option 4" />
      <Action name="select option 5" />
      <Action name="select option 6" />
      <Action name="select option 7" />
      <Action name="select option 8" />
      <Action name="select option 9" />
    </Menu>
      <Menu name="Hint" >
      <text>Hint</text>
      <Action name="hint" />
      <Action name="show solution" />
    </Menu>
  </MenuBar>
</gui>

