[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
ServiceTypes=KPluginInfo

Name=Example Parley Script
Name[ca]=Exemple d'script de Parley
Name[de]=Parley-Beispielskript
Name[el]=Παράδειγμα σεναρίου Parley
Name[es]=Ejemplo de guión de Parley
Name[et]=Parley näidisskript
Name[gl]=Script de exemplo para Parley
Name[gu]=ઉદાહરણ પારેલે સ્ક્રિપ્ટ
Name[he]=תסריט Parley לדוגמה
Name[km]=ស្គ្រីប Parley ​ជា​គំរូ
Name[ko]=Parley 스크립트 예제
Name[nb]=Eksempelskript for Parley
Name[nds]=Bispillskript för Parley
Name[nn]=Parley-dømeskript
Name[pt]=Programa de Exemplo do Parley
Name[pt_BR]=Programa de Exemplo do Parley
Name[sv]=Exempelskript för Parley
Name[tr]=Örnek Parley Betiği
Name[uk]=Приклад скрипту Parley
Name[x-test]=xxExample Parley Scriptxx
Name[zh_CN]=示例 Parley 脚本
Name[zh_TW]=範例 Parley 文稿
Comment=This Script offers two actions: 1) Move to new lesson 2) Mark as known for the Scripts menu
Comment[ca]=Aquest script ofereix dues accions: 1) Anar a una nova lliçó 2) Marcar-ho com a conegut per al menú d'scripts
Comment[de]=Das Skript stellt zwei Aktionen zur Verfügung: 1) Zu neuer Lektion gehen 2) für das Skriptmenü als bekannt markieren
Comment[el]=Το σενόριο αυτό προσφέρει δύο ενέργειες: 1) Μετακίνηση σε νέο μάθημα 2) Σημείωση ως γνωστό για το μενού σεναρίων
Comment[es]=El guión permite dos acciones: 1) Ir a la lección nueva 2) Marcar como conocido en el menú Guiones
Comment[et]=See skript pakub skriptimenüüle kaks kirjet: 1) Liigu uuele õppetunnile, 2) Märgi tuntuks
Comment[gl]=Este script oferece dúas accións: 1)Ir á nova lección 2)Marcar como coñecida no menú scripts
Comment[gu]=આ સ્ક્રિપ્ટ બે ક્રિયાઓ રજૂ કરે છે: ૧) નવા પાઠમાં જાવ ૨) સ્ક્રિપ્ટ્સ મેનુમાં જાણીતાં તરીકે નોંધ કરશે
Comment[km]=ស្គ្រីប​នេះ​ផ្ដល់​នូវ​អំពើពីរ ៖ ១) ផ្លាស់ទី​ទៅ​មេរៀន​ថ្មី ២) សម្គាល់​ថា​បានស្គាល់​សម្រាប់​ម៉ឺនុយ​ស្គ្រីប
Comment[nb]=Dette skriptet har to handlinger: 1) Gå til ny leksjon  2) Merk som kjent for Scripts-menyen
Comment[nds]=Dit Skript büdd twee Akschonen an: 1.) Na nieg Lex verschuven 2.) As begäng för dat Skriptmenü markeren
Comment[pt]=Este programa oferece duas acções: 1) Passar para uma lição nova 2) Marcar como conhecida para o menu de Programas
Comment[pt_BR]=Este programa oferece duas acções: 1) Passar para uma lição nova 2) Marcar como conhecida para o menu de Programas
Comment[sv]=Skriptet erbjuder två åtgärder: 1) Gå till ny lektion, 2) Markera som känd för skriptmenyn
Comment[tr]=Bu betik iki eylem öneriyor: 1) Yeni derse git 2) Betik menüsü için bilinen olarak işaretle
Comment[uk]=Скрипт додає дві дії: 1) Перейти до наступного уроку 2) Позначити як відоме питання, до меню «Скрипти»
Comment[x-test]=xxThis Script offers two actions: 1) Move to new lesson 2) Mark as known for the Scripts menuxx
Comment[zh_CN]=本脚本提供两个动作：1) 移动到新课程 2) 对脚本菜单标记为已知
Comment[zh_TW]=此文稿提供兩個動作：1) 移動到新課程 2) 將文稿選單標記為已知
Script=example.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=parley_example_script
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://edu.kde.org/parley
X-KDE-PluginInfo-Category=examples
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
