[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
ServiceTypes=KPluginInfo

Name=Example Parley Script
Name[km]=ស្គ្រីប Parley ​ជា​គំរូ
Name[uk]=Приклад скрипту Parley
Name[zh_TW]=範例 Parley 文稿
Comment=This Script offers two actions: 1) Move to new lesson 2) Mark as known for the Scripts menu
Comment[km]=ស្គ្រីប​នេះ​ផ្ដល់​នូវ​អំពើពីរ ៖ ១) ផ្លាស់ទី​ទៅ​មេរៀន​ថ្មី ២) សម្គាល់​ថា​បានស្គាល់​សម្រាប់​ម៉ឺនុយ​ស្គ្រីប
Comment[uk]=Скрипт додає дві дії: 1) Перейти до наступного уроку 2) Позначити як відоме питання, до меню «Скрипти»
Comment[zh_TW]=此文稿提供兩個動作：1) 移動到新課程 2) 將文稿選單標記為已知
Script=example.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=parley_example_script
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://edu.kde.org/parley
X-KDE-PluginInfo-Category=examples
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
