[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
# The next line doesn't work (didn't help recongnizing X-KDE-PluginInfo-Script=myscript.py
# ServiceTypes=Parley/Script
ServiceTypes=KPluginInfo

Name=Google Dictionary (translation)
Name[bg]=Речник на Google (превод)
Name[bs]=Google rječnik (prijevod)
Name[ca]=Diccionari de Google (traducció)
Name[ca@valencia]=Diccionari de Google (traducció)
Name[cs]=Slovník Google (překlad)
Name[da]=Google Dictionary (oversættelse)
Name[de]=Google-Wörterbuch (Übersetzung)
Name[el]=Λεξικό Google (μετάφραση)
Name[en_GB]=Google Dictionary (translation)
Name[es]=Diccionario de Google (traducción)
Name[et]=Google'i sõnaraamat (tõlkimiseks)
Name[eu]=Google hiztegia (itzulpena)
Name[fi]=Google-kääntäjä (kääntäminen)
Name[fr]=Dictionnaire Google (traduction)
Name[ga]=Foclóir Google (aistriúchán)
Name[gl]=Dicionario de Google (tradución)
Name[gu]=ગુગલ શબ્દકોશ (ભાષાંતર)
Name[he]=מילון גוגל (תרגום)
Name[hr]=Googleov rječnik (prijevod)
Name[hu]=Google Dictionary (fordítás)
Name[is]=Google orðabók (þýðingar)
Name[it]=Google Dizionario (traduzione)
Name[ja]=Google 辞書 (翻訳)
Name[kk]=Google сөздігі (аудару)
Name[km]=វចនានុក្រម​ហ្គូហ្គល (កា​របកប្រែ)
Name[ko]=구글 사전 (번역)
Name[lt]=Google žodynas (vertimas)
Name[lv]=Google vārdnīca (tulkošana)
Name[mr]=गूगल शब्दकोश (भाषांतर)
Name[nb]=Google ordbok (oversettelse)
Name[nds]=Google-Wöörbook (Översetten)
Name[nl]=Google Dictionary (vertaling)
Name[nn]=Google-ordbok (omsetjing)
Name[pa]=ਗੂਗਲ ਡਿਕਸ਼ਨਰੀ (ਅਨੁਵਾਦ)
Name[pl]=Słownik Google (tłumaczenie)
Name[pt]=Dicionário do Google (tradução)
Name[pt_BR]=Dicionário do Google (tradução)
Name[ru]=Google Переводчик
Name[sk]=Slovník Google (preklad)
Name[sl]=Google Slovar (prevod)
Name[sv]=Googles ordlista (översättning)
Name[tr]=Google Sözlük (çeviri)
Name[ug]=گۇگىل لۇغىتى (تەرجىمە)
Name[uk]=Словник Google (переклад)
Name[x-test]=xxGoogle Dictionary (translation)xx
Name[zh_CN]=Google 词典(翻译)
Name[zh_TW]=Google 字典（翻譯）
Comment=Uses Google Dictionary (translate.google.com) to translate words
Comment[bg]=Използване на речника на Google (translate.google.com) за превод на думи
Comment[bs]=Koristi Google riječnik (translate.google.com) za prijevod riječi
Comment[ca]=Usa el diccionari de Google (translate.google.com) per a traduir les paraules
Comment[ca@valencia]=Usa el diccionari de Google (translate.google.com) per a traduir les paraules
Comment[cs]=Používá slovník Google (translate.google.com) pro překlad slov
Comment[da]=Bruger Google Dictionary (translate.google.com) til at oversætte ord
Comment[de]=Verwendet Google-Wörterbuch (translate.google.de) zum Übersetzen von Wörtern
Comment[el]=Χρήση του λεξικού Google (translate.google.com) για τη μετάφραση λέξεων
Comment[en_GB]=Uses Google Dictionary (translate.google.com) to translate words
Comment[es]=Utiliza el diccionario de Google (translate.google.com) para traducir palabras
Comment[et]=Google'i sõnaraamatu (translate.google.com) kasutamine sõnade tõlkimiseks
Comment[eu]=Google hiztegia (translate.google.com) erabiltzen du hitzak itzultzeko
Comment[fi]=Käyttää Google-kääntäjää (translate.google.com) sanojen kääntämiseen
Comment[fr]=Utilise le dictionnaire Google (« translate.google.com ») pour traduire des mots
Comment[ga]=Bain úsáid as Foclóir Google (translate.google.com) chun focail a aistriú
Comment[gl]=Emprega o dicionario de Google (translate.google.com) para traducir palabras
Comment[gu]=શબ્દો ભાષાંતર કરવા માટે ગુગલ શબ્દકોશ (translate.google.com) વાપરે છે
Comment[he]=משתמש במילון של גוגל (translate.google.com) לתרגום מילים
Comment[hr]=Koristi Googleov rječnik (translate.google.com) za prijevod riječi
Comment[hu]=Fordítás a Google Dictionary (translate.google.com) használatával
Comment[is]=Notar Google orðabók (translate.google.com) til þýðingar á orðum
Comment[it]=Usa Google Dizionario (translate.google.com) per tradurre le parole
Comment[ja]=Google 辞書 (translate.google.com) を使って単語を翻訳します
Comment[kk]=Сөздерді аудару үшін Google сөздігін (translate.google.com) қолдану
Comment[km]=ប្រើ​វចនានុក្រម​ហ្គូហ្គល (translate.google.com) ដើម្បី​បកប្រែ​ពាក្យ
Comment[ko]=Google 사전 (translate.google.com)으로 단어를 번역합니다
Comment[lt]=Naudoja Google žodyną (translate.google.com), žodžių vertimui
Comment[lv]=Izmanto Google vārdnīcu (translate.google.com), lai tulkotu vārdus
Comment[nb]=Bruker Google Ordbok (translate.google.com) til å oversette ord
Comment[nds]=Bruukt dat Google-Wöörbook (translate.google.com) för't Översetten
Comment[nl]=Gebruikt Google Dictionary (woordenboek van Google: translate.google.com) voor het vertalen van woorden
Comment[nn]=Brukar Google-ordbok (translate.google.com) til å setja om ord
Comment[pl]=Używa słownika Google (translate.google.com) do tłumaczenia
Comment[pt]=Usar o Dicionário do Google (translate.google.com) para traduzir palavras
Comment[pt_BR]=Usa o dicionário do Google (translate.google.com) para traduzir palavras
Comment[ru]=Использует Google Переводчик (translate.google.com) для перевода слов
Comment[sk]=Používa slovník Google (translate.google.com) na preklad slov
Comment[sl]=Za prevod besed uporabi Google Slovar (translate.google.com)
Comment[sv]=Använder Googles ordlista (translate.google.com) för att översätta ord
Comment[tr]=Kelimeleri çevirmek için Google Sözlük'ü (translate.google.com) kullanır
Comment[ug]=سۆزلەرنى تەرجىمە قىلىش ئۈچۈن گۇگىل لۇغىتى (translate.google.com) نى ئىشلىتىدۇ
Comment[uk]=Використовує словник Google (translate.google.com) для перекладу слів
Comment[x-test]=xxUses Google Dictionary (translate.google.com) to translate wordsxx
Comment[zh_CN]=使用 Google 词典(translate.google.com)来翻译单词
Comment[zh_TW]=使用 Google 字典（translate.google.com）來翻譯單字
Script=google_dictionary.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=google_dict
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://edu.kde.org/parley
X-KDE-PluginInfo-Category=translation
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
# the next line didn't work
# X-KDE-PluginInfo-Script=myscript.py
