[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
ServiceTypes=KPluginInfo

Name=Google Images (online image fetching)
Name[ast]=Imaxes de Google (algamar imaxes en llinia)
Name[bg]=Изображения в Google (изтегляне на изображения от мрежата)
Name[bs]=Google slike (on-line uzimanje slike)
Name[ca]=Imatges de Google (recull imatges en línia)
Name[ca@valencia]=Imatges de Google (recull imatges en línia)
Name[cs]=Obrázky Google (získávání obrázků z internetu)
Name[da]=Google Images (hent billeder online)
Name[de]=Google Bilder (online Herunterladen von Bildern)
Name[el]=Εικόνες Google (διαδικτυακή ανάκτηση εικόνων)
Name[en_GB]=Google Images (online image fetching)
Name[es]=Imágenes de Google (obtención de imágenes de la red)
Name[et]=Google'i pildid (piltide tõmbamine veebist)
Name[eu]=Google-ren irudiak (lineako irudiak eskuratzea)
Name[fi]=Google-kuvahaku (kuvien noutaminen verkosta)
Name[fr]=Images Google (téléchargement d'images en ligne)
Name[ga]=Íomhánna Google (cuardach íomhá ar líne)
Name[gl]=Imaxes de Google (obtén imaxes da rede)
Name[gu]=ગુગલ ઇમેજીસ (ઓનલાઇન ચિત્ર મેળવવાનું)
Name[hu]=Google Images (internetes képletöltéssel)
Name[is]=Google myndir (sækir myndir á netið)
Name[it]=Google Immagini (recupero di immagini da Internet)
Name[ja]=Google イメージ (オンライン画像検索)
Name[kk]=Google кескіндері (онлайн кескіндерді қарастыру)
Name[km]=រូបភាព​ហ្គូហ្គល (ការ​ទៅ​យក​រូបភាព​លើ​បណ្ដាញ)
Name[ko]=구글 그림 (온라인으로 그림 가져오기)
Name[lt]=Paveikslai iš Google (paveikslų atsiuntimas iš tinklo)
Name[lv]=Google attēli (tiešsaistes attēlu ielāde)
Name[nb]=Google-bilder (henter bilder fra nettverket)
Name[nds]=Google-Biller (Internetbiller halen)
Name[nl]=Google Images (ophalen van afbeeldingen)
Name[nn]=Google-bilete (henting av bilete frå nettet)
Name[pa]=ਗੂਗਲ ਚਿੱਤਰ (ਆਨਲਾਈਨ ਚਿੱਤਰ ਲਵੋ)
Name[pl]=Google Images (pobieranie obrazów)
Name[pt]=Google Images (pesquisa de imagens 'online')
Name[pt_BR]=Google Images (obtenção de imagens online)
Name[ru]=Google Картинки (загрузка картинок из Интернета)
Name[sk]=Obrázky Google (online sťahovanie obrázkov)
Name[sl]=Google Slike (pridobivanje slik s spleta)
Name[sv]=Googles bilder (direkt bildhämtning)
Name[tr]=Google Resimler (çevrimiçi resim getirme)
Name[uk]=Зображення Google (інтерактивне отримання зображень)
Name[x-test]=xxGoogle Images (online image fetching)xx
Name[zh_CN]=Google 图像(在线获取图像)
Name[zh_TW]=Google 影像（線上影像拮取）
Comment=This script automatically fetches images from images.google.com for the selected word. The search language depends on the selected word. Downloaded images are stored in a <em>document file name</em>_files folder next to the document file. Requires PyQt4.
Comment[ca]=Aquest script recull automàticament imatges des d'«images.google.com» per al mot seleccionat. L'idioma de cerca depèn del mot seleccionat. Les imatges descarregades es desen a la carpeta <em>nom del fitxer del document</em>_files prop del fitxer del document. Requereix PyQt4.
Comment[cs]=Tento skript získává obrázky související s vybraným slovem automaticky z adresy images.google.com. Jazyk hledání závisí na vybraném slově. Stažené obrázky jsou uloženy ve složce se soubory <em>název souboru dokumentu</em>_ vedle souboru s dokumentem. Vyžaduje PyQt4.
Comment[fr]=Ce script télécharge automatiquement des images à partir de « images.google.com » pour le mot sélectionné. La langue de recherche dépend du mot sélectionné. Les images téléchargées sont enregistrées dans un dossier « <<document file name>>_files », situé au même endroit que le fichier du document. Ce script nécessite « PyQt4 ».
Comment[nl]=Dit script haalt automatisch afbeeldingen op van images.google.com, die bij het geselecteerde woord horen. De zoektaal hangt af van het geselecteerde woord. De opgehaalde afbeeldingen worden opgeslagen in een map <em>bestandsnaam document</em>_files, samen met het documentbestand. PyQt4 is vereist.
Comment[pt]=Este programa obtém automaticamente imagens do images.google.com para a palavra seleccionada. A língua da pesquisa depende da palavra seleccionada. As imagens transferidas são guardadas numa pasta <em>nome do ficheiro do documento</em>_files, ao lado do ficheiro do documento. Necessita do PyQt4.
Comment[pt_BR]=Este script obtém imagens automaticamente do images.google.com para a palavra selecionada. O idioma de pesquisa depende da palavra selecionada. As imagens baixadas são guardadas em uma pasta <nome do arquivo de documento>_files. Requer o PyQt4.
Comment[sl]=Ta skript s spletišča images.google.com samodejno pridobi slike za izbrano besedo. Iskalni jezik je odvisen od izbrane besede. Prejete slike so shranjene v mapo <em>ime datoteke dokumenta</em>_files poleg datoteke dokumenta. Potrebuje PyQt4.
Comment[sv]=Skriptet hämtar automatiskt bilder från images.google.com för det valda ordet. Sökspråk beror på det valda ordet. Nerladdade bilder lagras i katalogen <em>dokumentfilnamn</em>_files intill dokumentfilen. Kräver PyQt4.
Comment[uk]=Цей скрипт автоматично отримує зображення з images.google.com за вибраним словом. Мова пошуку залежить від вибраного слова. Звантажені зображення зберігаються у теці <em>назва файла документа</em>_files поряд з файлом документа. Потрібен PyQt4.
Comment[x-test]=xxThis script automatically fetches images from images.google.com for the selected word. The search language depends on the selected word. Downloaded images are stored in a <em>document file name</em>_files folder next to the document file. Requires PyQt4.xx
Script=google_images.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=google_images
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://edu.kde.org/parley
X-KDE-PluginInfo-Category=Images
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
