[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
ServiceTypes=KPluginInfo

Name=Google Images (online image fetching)
Name[ca]=Imatges de Google (recull imatges en línia)
Name[cs]=Obrázky Google (získávání obrázků z internetu)
Name[da]=Google Images (hent billeder online)
Name[de]=Google Bilder (online Herunterladen von Bildern)
Name[el]=Εικόνες Google (διαδικτυακή ανάκτηση εικόνων)
Name[es]=Imágenes de Google (obtención de imágenes de la red)
Name[et]=Google'i pildid (piltide tõmbamine veebist)
Name[eu]=Google-ren irudiak (lineako irudiak eskuratzea)
Name[fr]=Google Images (téléchargement d'images en ligne)
Name[ga]=Íomhánna Google (cuardach íomhá ar líne)
Name[gl]=Imaxes de Goolge (obtén imaxes na rede)
Name[gu]=ગુગલ ઇમેજીસ (ઓનલાઇન ચિત્ર મેળવવાનું)
Name[is]=Google myndir (sækir myndir á netið)
Name[it]=Google Immagini (recupero di immagini da Internet)
Name[ja]=Google イメージ (オンライン画像検索)
Name[km]=រូបភាព​ហ្គូហ្គល (ការ​ទៅ​យក​រូបភាព​លើ​បណ្ដាញ)
Name[ko]=구글 그림 (온라인으로 그림 가져오기)
Name[lt]=Paveikslai iš Google (paveikslų parsiuntimas iš tinklo)
Name[lv]=Google attēli (tiešsaistes attēlu ielāde)
Name[mai]=गूगल बिंब (आनलाइन छवि फेचिंग)
Name[nb]=Google-bilder (henter bilder fra nettverket)
Name[nds]=Google-Biller (Internetbiller halen)
Name[nl]=Google Images (ophalen van afbeeldingen)
Name[nn]=Google-bilete (henting av bilete frå nettet)
Name[pa]=ਗੂਗਲ ਚਿੱਤਰ (ਆਨਲਾਈਨ ਚਿੱਤਰ ਲਵੋ)
Name[pl]=Google Images (pobieranie obrazów)
Name[pt]=Google Images (pesquisa de imagens 'online')
Name[pt_BR]=Google Images (obtenção de imagens online)
Name[ru]=Google Images (загрузка картинок из Интернета)
Name[sv]=Googles bilder (direkt bildhämtning)
Name[tr]=Google Resimler (çevrimiçi resim getirme)
Name[uk]=Зображення Google (інтерактивне отримання зображень)
Name[x-test]=xxGoogle Images (online image fetching)xx
Name[zh_CN]=Google 图像(在线获取图像)
Name[zh_TW]=Google 影像（線上影像拮取）
Comment=This script automatically fetches images from images.google.com for the selected word.  The search language depends on the selected word.  Downloaded images are stored in a <<document file name>>_files folder next to the document file. Requires PyQt4.
Comment[ca]=Aquest script recull automàticament imatges des de images.google.com per al mot seleccionat. L'idioma de cerca depèn del mot seleccionat. Les imatges descarregades es desen a la carpeta <<nom del document>>_files prop del fitxer del document. Requereix PyQt4.
Comment[cs]=Tento skript získává obrázky související s vybraným slovem automaticky z adresy images.google.com. Jazyk hledání závisí na vybraném slově. Stažené obrázky jsou uloženy ve složce se soubory <<název souboru dokumentu>>_ vedle souboru s dokumentem. Vyžaduje PyQt4.
Comment[da]=Dette script henter automatisk billeder fra images.google.com for det markerede ord. Søgesproget afhænger af det valgte ord. Downloadede billeder gemmes  i mappen <<dokumentets filnavn>>_files ved siden af dokumentfilen. Kræver PyQt4.
Comment[de]=Das Skript lädt automatisch Bilder von images.google.de für das ausgewählte Wort. Die Suchsprache hängt von dem ausgewählten Wort ab. Die heruntergeladenen Bilder werden in <<document file name>>_Dateien-Ordner neben der Dokumentendatei gespeichert. Benötigt PyQt4.
Comment[el]=Το σενάριο αυτό ανακτά αυτόματα εικόνες από το images.google.com για την επιλεγμένη λέξη. Η γλώσσα αναζήτησης εξαρτάται από την επιλεγμένη λέξη. Οι ληφθέντες εικόνες αποθηκεύονται σε ένα φάκελο <<document file name>>_files μαζί με το αρχείο εγγράφου. Απαιτεί το PyQt4.
Comment[es]=Este guión obtiene automáticamente las imágenes de images.google.com para la palabra seleccionada. El idioma de búsqueda depende de la palabra seleccionada. Las imágenes descargadas se guardan en una carpeta <<nombre de archivo del documento>>_files junto con el archivo del documento. Necesita PyQt4.
Comment[et]=See skript tõmbab automaatselt aadressilt images.google.com valitud sõnaga seotud pildid. Otsingukeel sõltub valitud sõnast. Allalaaditud pildid salvestatakse koos dokumendifailiga kataloogi <<documendifaili nimi>>_files. Vajalik on PyQt4.
Comment[eu]=Script honek automatikoki eskuratzen ditu irudiak images.google.com gunetik hautatutako hitzarentzako. Bilaketako hizkuntza hautatutako hitzaren arabera dago. Deskargatutako irudiak <<dokumentu_fitxategi_izena>>_fitxategiak karpetan gordetzen dira dokumentuaren fitxategitik gertu. PyQT4 behar du.
Comment[fr]=Ce script télécharge automatiquement des images depuis « images.google.com » pour le mot choisi. La langue de recherche dépend du mot sélectionné. Les images téléchargées sont stockées dans un dossier « <<document file name>>_files » situé au même endroit que le document. Ce script nécessite PyQt4.
Comment[ga]=Faigheann an script seo íomhánna ó images.google.com don fhocal roghnaithe go huathoibríoch. Braitheann teanga an chuardaigh ar an bhfocal roghnaithe. Stórálfar na híomhánna íosluchtaithe i bhfillteán <<ainm cáipéise>>_files in aice leis an gcáipéis. PyQt4 de dhíth.
Comment[gl]=Este script obtén automaticamente imaxes desde images.google.com relativas á palabra escollida. A linguaxe de procura depende da palabra escollida. As imaxes obtidas gárdanse nun cartafol <<nome do ficheiro do documentos>>_files xunto ao ficheiro do documento. Require o PyQt4.
Comment[gu]=આ સ્ક્રિપ્ટ પસંદ કરેલ શબ્દ માટે images.google.com માંથી આપમેળે ચિત્રો મેળવે છે. શોધ ભાષા પસંદ કરેલ શબ્દ પર આધાર રાખે છે.  ડાઉનલોડ કરેલ ચિત્રો <<document file name>>_files ફોલ્ડરમાં દસ્તાવેજ ફાઇલ પછી સંગ્રહ થશે. આ માટે PyQt4 જરૂરી છે.
Comment[is]=Þessi skrifta nær sjálfvirkt í myndir frá images.google.com sem tengjast völdu orði.  Leitartungumálið fer eftir því hvaða orð er valið.  Myndir sem halað er niður eru geymdar í <<document file name>>_files möppunni við hlið skjalsins. Krefst PyQt4.
Comment[it]=Questo script recupera automaticamente immagini da images.google.com per la parola selezionata. La lingua di ricerca dipende dalla parola selezionata. Le immagini scaricare sono memorizzare in una cartella <<nome file del documento>>_files, nella stessa cartella del documento. Richiede PyQt4.
Comment[ja]=このスクリプトは選択した単語をその言語の images.google.com で検索して画像を取得します。ダウンロードした画像は、語彙文書と同じ場所に作成される <filename><placeholder>文書名</placeholder>_files</filename> という名前のフォルダに保存されます。このスクリプトには PyQt4 が必要です。
Comment[km]=ស្គ្រីប​នេះ​ទៅ​យក​រូបភាព​ដោយ​ស្វ័យប្រវត្តិ​ពី​ images.google.com សម្រាប់​ពាក្យ​ដែលបាន​ជ្រើស ។ ជ្រើស​ភាសា​​ដោយ​អាស្រ័យ​លើ​ពាក្យ​ដែល​បាន​ជ្រើស ។ រូបភាព​ដែល​បាន​ទាញ​យក​ត្រូវ​បាន​ផ្ទុក​នៅ​ក្នុង​ថត <<document file name>>_files ជាប់​ទៅ​នឹង​ឯកសារ ។ ត្រូវការ PyQt4 ។
Comment[lt]=Šis scenarijus iš images.google.com automatiškai atsiunčia su pažymėtu žodžiu susijusius paveikslus. Kalba, pagal kuria ieškoma, priklauso nuo pažymėtojo žodžio. Atsiųstieji paveikslai talpinami aplanke „<<dokumento failo pavadinimas>>_failai“, šalia dokumento failo. Privalomas PyQt4.
Comment[nb]=Dette  skriptet henter  automatisk bilder fra images.google.com for det valgte  ordet. Søkespråket avhenger av det valgte ordet. De nedlastede bildene lagres i en mappe <<document file name>>_files  nær dokumentfila. Krever PyQt4.
Comment[nds]=Dit Skript haalt automaatsch vun "images.google.com" Biller för dat utsöchte Woort. De Söökspraak hangt vun dat markeerte Woort af. De daallaadt Biller warrt binnen en <<Dokment-Dateinaam>>_Dateiorner neegst de Dokmentdatei sekert. Bruukt PyQt4.
Comment[nl]=Dit script haalt automatisch afbeeldingen op van images.google.com, die bij het geselecteerde woord horen. De zoektaal hangt af van het geselecteerde woord. De opgehaalde afbeeldingen worden opgeslagen in een map <<bestandsnaam document>>_files, samen met het documentbestand. PyQt4 is vereist.
Comment[nn]=Dette skriptet hentar automatisk bilete frå images.google.com for det valde ordet. Søkjespråket avhenger av kva ord som er valt. Dei nedlasta bileta vert lagra i mappa <<dokumentfilnamn>>_filer-mappe ved sidan av dokumentfila. Skriptet krev PyQt4.
Comment[pt]=Este programa obtém automaticamente imagens do images.google.com para a palavra seleccionada. A língua da pesquisa depende da palavra seleccionada. As imagens transferidas são guardadas numa pasta <<nome do ficheiro do documento>>_files, ao lado do ficheiro do documento. Necessita do PyQt4.
Comment[pt_BR]=Este script obtém imagens automaticamente do images.google.com para a palavra selecionada. O idioma de pesquisa depende da palavra selecionada. As imagens baixadas são guardadas em uma pasta <<nome do arquivo de documento>>_files. Requer o PyQt4.
Comment[ru]=Этот скрипт автоматически получает картинки с images.google.com для выбранных слов. Язык поиска зависит от выбранных слов. Загруженные картинки сохраняются в папке <<document file name>>. Требует PyQt4.
Comment[sv]=Skriptet hämtar automatiskt bilder från images.google.com för det valda ordet. Sökspråk beror på det valda ordet. Nerladdade bilder lagras i katalogen <<dokumentfilnamn>>_files intill dokumentfilen. Kräver PyQt4.
Comment[tr]=Bu betik, seçili kelime için images.google.com daki resimleri otomatik olarak getirir.  Arama dili, seçili kelimeye göre değişir.  İndirilen resimler dosyanın bulunduğu dizinde <<dosyaadı>>_files dizinine konur. PyQt4 gerektirir.
Comment[uk]=Цей скрипт автоматично отримує зображення з images.google.com за вибраним словом. Мова пошуку залежить від вибраного слова. Звантажені зображення зберігаються у теці <<назва файла документа>>_files поряд з файлом документа. Потрібен PyQt4.
Comment[x-test]=xxThis script automatically fetches images from images.google.com for the selected word.  The search language depends on the selected word.  Downloaded images are stored in a <<document file name>>_files folder next to the document file. Requires PyQt4.xx
Comment[zh_CN]=本脚本可自动为所选单词从 images.google.com 获取图像。搜索语言取决于所选的单词。下载的图像保存在文档文件所处的 <<document file name>>_files 文件夹。需要 PyQt4。
Comment[zh_TW]=此文稿會自動為選取的字從 images.google.com 抓取影像。搜尋語言與選取的單字有關。下載的影像會放在 <<文件檔名>>_files 的資料夾中。此文稿需要使用 PyQt4。
Script=google_images.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=google_images
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://edu.kde.org/parley
X-KDE-PluginInfo-Category=Images
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
