[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
# The next line doesn't work (didn't help recongnizing X-KDE-PluginInfo-Script=myscript.py
# ServiceTypes=Parley/Script
ServiceTypes=KPluginInfo

Name=Google Dictionary (translation)
Name[km]=វចនានុក្រម​ហ្គូហ្គល (កា​របកប្រែ)
Name[uk]=Словник Google (переклад)
Name[zh_TW]=Google 字典（翻譯）
Comment=Uses Google Dictionary (translate.google.com) to translate words
Comment[km]=ប្រើ​វចនានុក្រម​ហ្គូហ្គល (translate.google.com) ដើម្បី​បកប្រែ​ពាក្យ
Comment[uk]=Використовує словник Google (translate.google.com) для перекладу слів
Comment[zh_TW]=使用 Google 字典（translate.google.com）來翻譯單字
Script=google_dictionary.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=google_dict
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=translation
# X-KDE-PluginInfo-Depends=plugin1,plugin3
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
# the next line didn't work
# X-KDE-PluginInfo-Script=myscript.py
