[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
ServiceTypes=KPluginInfo

Name=LEO Dictionary (Translation)
Name[et]=LEO sõnaraamat (tõlkimiseks)
Name[gu]=LEO શબ્દકોશ (ભાષાંતર)
Name[km]=វចនានុក្រម LEO (ការ​បកប្រែ)
Name[pt]=Dicionário LEO (Tradução)
Name[pt_BR]=Dicionário LEO (Tradução)
Name[uk]=Словник LEO (переклад)
Name[zh_TW]=LEO 字典（翻譯）
Comment=Uses LEO Dictionary (dict.leo.org) to translate words
Comment[et]=LEO sõnaraamatu (dict.leo.org) kasutamine sõnade tõlkimiseks
Comment[gu]=શબ્દો ભાષાંતર કરવા માટે LEO શબ્દકોશ (dict.leo.org) વાપરો
Comment[km]=ប្រើ​វចនានុក្រម LEO (dict.leo.org) ដើម្បី​បកប្រែ​ពាក្យ
Comment[pt]=Usa o Dicionário LEO (dict.leo.org) para traduzir palavras
Comment[pt_BR]=Usa o Dicionário LEO (dict.leo.org) para traduzir palavras
Comment[uk]=Використовує словник LEO (dict.leo.org) для перекладу слів
Comment[zh_TW]=使用 LEO 字典（dict.leo.org）來翻譯單字
Script=leo-dict.py

X-KDE-PluginInfo-Author=Avgoustinos Kadis
X-KDE-PluginInfo-Email=avgoustinos.kadis@kdemail.net
X-KDE-PluginInfo-Name=leo_dict
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://edu.kde.org/parley
X-KDE-PluginInfo-Category=translation
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
