[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
# The next line doesn't work (didn't help recongnizing X-KDE-PluginInfo-Script=myscript.py
# ServiceTypes=Parley/Script
ServiceTypes=KPluginInfo

Name=Testing Purposes Script
Name[et]=Skript testimiseks
Name[pt]=Programa para Fins de Teste
Name[pt_BR]=Programa para Fins de Teste
Name[uk]=Скрипт для тестування
Name[zh_TW]=測試目的文稿
Comment=Description of what the plugin does
Comment[et]=Plugina tegevuse kirjeldus
Comment[km]=សេចក្ដី​ពិពណ៌នា​របស់​កម្មវិធី​ជំនួយ​អ្វី​ដែល​អាច​ប្រើ​បាន
Comment[pt]=Descrição do que faz o 'plugin'
Comment[pt_BR]=Descrição do que faz o 'plugin'
Comment[uk]=Опис того, що робить додаток
Comment[zh_TW]=描述此外掛程式在做什麼
Script=test.py

X-KDE-PluginInfo-Author=Parley Developer
X-KDE-PluginInfo-Email=parley-devel@kde.org
X-KDE-PluginInfo-Name=script_test
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=Test
# X-KDE-PluginInfo-Depends=plugin1,plugin3
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
# the next line didn't work
# X-KDE-PluginInfo-Script=myscript.py
