[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
ServiceTypes=KPluginInfo

Name=User Visible Name3
Comment=Description of what the plugin does

X-KDE-PluginInfo-Author=Author's Name3
X-KDE-PluginInfo-Email=author@foo.bar
X-KDE-PluginInfo-Name=internalname3
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://www.plugin.org/
X-KDE-PluginInfo-Category=playlist
# X-KDE-PluginInfo-Depends=plugin1,plugin3
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
