[Desktop Entry]
Encoding=UTF-8
Icon=mypluginicon
Type=Service
# The next line doesn't work (didn't help recongnizing X-KDE-PluginInfo-Script=myscript.py
# ServiceTypes=Parley/Script
ServiceTypes=KPluginInfo

Name=Testing Purposes Script
Name[bs]=Svrhe testiranja skripti
Name[ca]=Script de prova
Name[ca@valencia]=Script de prova
Name[cs]=Skript určený pro zkoušení
Name[da]=Script til testformål
Name[de]=Skript zu Testzwecken
Name[el]=Σενάριο ελέγχου
Name[en_GB]=Testing Purposes Script
Name[es]=Guion con propósito de pruebas
Name[et]=Skript testimiseks
Name[eu]=Probak egiteko script-a
Name[fi]=Komentojono testaustarkoituksiin
Name[fr]=Script permettant d'effectuer des tests
Name[ga]=Script Tástála
Name[gl]=Script para probas
Name[gu]=ચકાસણી કરવા માટેની સ્ક્રિપ્ટ
Name[hr]=Skripta za testiranje
Name[hu]=Tesztelési szkript
Name[is]=Prófanaskrifta
Name[it]=Script di prova
Name[ja]=テスト用スクリプト
Name[kk]=Сынақ скрипті
Name[km]=ស្គ្រីប​ក្នុង​គោលបំណង​សាកល្បង
Name[ko]=시험용 스크립트
Name[lt]=Scenarijus bandymo tikslams
Name[lv]=Testēšanas skripts
Name[nb]=Skript for testformål
Name[nds]=Utprobeer-Skript
Name[nl]=Testing Purposes Script (Script voor testdoeleinden)
Name[nn]=Skript for testing
Name[pl]=Skrypt testowy
Name[pt]=Programa para Fins de Teste
Name[pt_BR]=Script com propósito de testes
Name[ru]=Сценарий для тестирования
Name[sk]=Skript na testovacie účely
Name[sl]=Skript za preizkušanje
Name[sv]=Skript för testsyfte
Name[tr]=Test Amaçlı Betik
Name[uk]=Скрипт для тестування
Name[x-test]=xxTesting Purposes Scriptxx
Name[zh_CN]=测试目的脚本
Name[zh_TW]=測試目的文稿
Comment=Description of what the plugin does
Comment[bs]=Opis šta radi dodatak
Comment[ca]=Descripció de què fa el connector
Comment[ca@valencia]=Descripció de què fa el connector
Comment[cs]=Popis toho, co ten přídavný modul vlastně dělá
Comment[da]=Beskrivelse af hvad plugin'et gør
Comment[de]=Beschreibung, was die Erweiterung macht
Comment[el]=Περιγραφή του προσθέτου
Comment[en_GB]=Description of what the plugin does
Comment[es]=Descripción de lo que hace el complemento
Comment[et]=Plugina tegevuse kirjeldus
Comment[eu]=Pluginak egiten duenari buruzko azalpena
Comment[fi]=Kuvaus siitä, mitä komentojono tekee
Comment[fr]=Description de la fonction du module externe
Comment[ga]=Cur síos ar an mbreiseán
Comment[gl]=A descrición do que fai o complemento
Comment[gu]=પ્લગઇન શું કરે છે તેનું વર્ણન
Comment[he]=תיאור על מה התוסף עושה
Comment[hr]=Opis onoga što priključak radi
Comment[hu]=A modul rövid leírása
Comment[is]=Lýsing á því hvað íforritið gerir
Comment[it]=Descrizione di quello che l'estensione fa
Comment[ja]=プラグインの説明
Comment[kk]=Плагиннің мақсаты туралы түсініктеме
Comment[km]=ពិពណ៌​នា​នូវ​អ្វី​ដែល​កម្មវិធី​ជំនួយ​បាន​ធ្វើ​
Comment[ko]=플러그인이 하는 일 설명
Comment[lt]=Papildinio paskirties aprašymas
Comment[lv]=Spraudņa nolūka apraksts
Comment[nb]=Beskrivelse av hva programtillegget gjør
Comment[nds]=Beschrieven vun't Moduulkönen
Comment[nl]=Beschrijving van wat de plugin (insteekmodule) doet
Comment[nn]=Skildring av programtillegget
Comment[pl]=Opis działania wtyczki
Comment[pt]=Descrição do que faz o 'plugin'
Comment[pt_BR]=Descrição do que o plugin faz
Comment[ru]=Описание того, что делает модуль
Comment[sk]=Popis, čo plugin robí
Comment[sl]=Opis delovanja vstavka
Comment[sv]=Beskrivning av vad insticksprogrammet gör
Comment[tr]=Eklentinin ne yaptığına dair açıklama
Comment[uk]=Опис того, що робить додаток
Comment[x-test]=xxDescription of what the plugin doesxx
Comment[zh_CN]=插件工作描述
Comment[zh_TW]=描述此外掛程式在做什麼
Script=test.py

X-KDE-PluginInfo-Author=Parley Developer
X-KDE-PluginInfo-Email=parley-devel@kde.org
X-KDE-PluginInfo-Name=script_test
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://edu.kde.org/parley
X-KDE-PluginInfo-Category=Test
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
# the next line didn't work
# X-KDE-PluginInfo-Script=myscript.py
