[Desktop Entry]
Encoding=UTF-8
Icon=parley
Type=Service
ServiceTypes=KPluginInfo

Name=Wiktionary Sound
Name[ca]=So de Wiktionary
Name[da]=Wiktionary-lyd
Name[el]=Ήχος Wiktionary
Name[es]=Sonido del Wiktionario
Name[et]=Wiktionary heli
Name[ga]=Fuaim Wiktionary
Name[gl]=Son do Wiktionary
Name[gu]=વિક્શનરી ધ્વનિ
Name[lt]=Garsas iš Viktionarijos
Name[nb]=Wiktionary lyd
Name[nds]=Wiktionary-Kläng
Name[pt]=Som do Wiktionary
Name[pt_BR]=Som do Wikcionário
Name[sv]=Wiktionary-ljud
Name[tr]=Wiktionary Sesi
Name[uk]=Звук з Wiktionary
Name[x-test]=xxWiktionary Soundxx
Name[zh_TW]=Wiktionary 音效
Comment=This script fetches sound files from http://commons.wikimedia.org.
Comment[ca]=Aquest script recupera fitxers de so des de http://commons.wikimedia.org.
Comment[cs]=Tento skript stahuje zvuk z  http://commons.wikimedia.org.
Comment[da]=Dette script henter lydfiler fra http://commons.wikimedia.org.
Comment[el]=Το σενάριο αυτό ανακτά αρχεία ήχου από το http://commons.wikimedia.org
Comment[es]=Este guión extrae archivos de sonido de http://commons.wikimedia.org.
Comment[et]=See skript tõmbab helifaile aadressilt http://commons.wikimedia.org.
Comment[ga]=Faigheann an script seo comhaid fhuaime ó http://commons.wikimedia.org/.
Comment[gl]=Este script obtén os ficheiros de son de http://commons.wikimedia.org.
Comment[gu]=આ સ્ક્રિપ્ટ અહીંથી ધ્વનિ ફાઇલો મેળવશે http://commons.wikimedia.org.
Comment[lt]=Šis scenarijus iš http://commons.wikimedia.org atsiunčia garso failus.
Comment[nb]=Dette skriptet henter lydfiler fra http://commons.wikimedia.org.
Comment[nds]=Dit Skript haalt Klangdateien vun http://commons.wikimedia.org.
Comment[pt]=Este programa obtém ficheiros de sons do http://commons.wikimedia.org.
Comment[pt_BR]=Este script obtém arquivos de som de http://commons.wikimedia.org.
Comment[ru]=Этот скрипт извлекает звуковые файлы с http://commons.wikimedia.org.
Comment[sv]=Skriptet hämtar ljudfiler från http://commons.wikimedia.org.
Comment[tr]=Bu betik, http://commons.wikimedia.org adresinden ses dosyaları getirir.
Comment[uk]=Цей скрипт звантажує звукові файли з http://commons.wikimedia.org.
Comment[x-test]=xxThis script fetches sound files from http://commons.wikimedia.org.xx
Comment[zh_TW]=此文稿會從 http://commons.wikimedia.org 中抓取音效檔。

Script=wiktionary_sound.py

X-KDE-PluginInfo-Author=Frederik Gladhorn, Thomas Eitzenberger
X-KDE-PluginInfo-Email=gladhorn@kde.org
X-KDE-PluginInfo-Name=wiktionary_sound
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/parley
X-KDE-PluginInfo-Category=Sound
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
