[Desktop Entry]
Name=Parley
Comment=Vocabulary data for Plasmoids

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=parley
X-KDE-Library=plasma_engine_parley

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=parley
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
