[Desktop Entry]
Name=Parley
Name[ast]=Parley
Name[bg]=Parley
Name[bs]=Parley
Name[ca]=Parley
Name[ca@valencia]=Parley
Name[cs]=Parley
Name[csb]=Parley
Name[da]=Parley
Name[de]=Parley
Name[el]=Parley
Name[en_GB]=Parley
Name[eo]=Parley
Name[es]=Parley
Name[et]=Parley
Name[eu]=Berba egin
Name[fi]=Parley
Name[fr]=Parley
Name[ga]=Parley
Name[gl]=Parley
Name[gu]=પારેલે
Name[he]=Parley
Name[hi]=पारले
Name[hne]=पारले
Name[hr]=Parley
Name[hu]=Parley
Name[is]=Parley
Name[it]=Parley
Name[ja]=Parley
Name[km]=Parley
Name[ko]=Parley
Name[lt]=Parley
Name[lv]=Parley
Name[ml]=പാര്‍ലി
Name[nb]=Parley
Name[nds]=Parley
Name[ne]=पार्ली
Name[nl]=Parley
Name[nn]=Parley
Name[pl]=Parley
Name[pt]=Parley
Name[pt_BR]=Parley
Name[ro]=Parley
Name[ru]=Parley
Name[sl]=Parely
Name[sv]=Parley
Name[tr]=Parley
Name[uk]=Parley
Name[x-test]=xxParleyxx
Name[zh_CN]=Parley
Name[zh_TW]=語言_Parley
Comment=Vocabulary data for Plasmoids
Comment[ast]=Datos de vocabulariu pa los Plasmoides
Comment[bg]=Речникови данни за плазмоиди
Comment[bs]=Rječnički podaci za plazmoide
Comment[ca]=Dades de vocabulari per als plasmoides
Comment[ca@valencia]=Dades de vocabulari per als plasmoides
Comment[cs]=Slovní zásoba pro plasmoidy
Comment[da]=Ordforrådsdata til plasmoider
Comment[de]=Vokabulardaten für Plasmoide
Comment[el]=Δεδομένα λεξιλογίου για πλασμοειδή
Comment[en_GB]=Vocabulary data for Plasmoids
Comment[es]=Datos de vocabulario para los plasmoides
Comment[et]=Sõnavaraandmed plasmoididele
Comment[eu]=Hiztearen datuak plasmoid-eentzako
Comment[fi]=Sanastodata plasmoideille
Comment[fr]=Données de vocabulaire pour les plasmoïdes
Comment[ga]=Sonraí Stóir Focal le haghaidh Plasmóidí
Comment[gl]=Datos de vocabulario para Plasmoides
Comment[gu]=પ્લાઝમોઇડ માટે શબ્દયાદી માહિતી
Comment[hne]=प्लाज्माइड्स बर सब्द डाटा
Comment[hu]=Szótárfüzet-plazmoid
Comment[is]=Orðaforðagögn fyrir Plasmadót
Comment[it]=Dati di vocabolari per plasmoidi
Comment[ja]=プラズモイド用の語彙データ
Comment[km]=ទិន្នន័យ​វាក្យសព្ទ​សម្រាប់ Plasmoids
Comment[ko]=Plasmoid를 위한 어휘 데이터
Comment[lt]=Žodyno duomenys, skirti plazmoidams
Comment[lv]=Vārdnīcas dati plazmoīdiem
Comment[ml]=പ്ലാസ്മോയിഡ്സിനായുള്ള വാക്പട്ടിക ഡാറ്റ
Comment[nb]=Ordlistedata for Plasmoider
Comment[nds]=Vokavel-Daten för Plasma-Lüttprogrammen
Comment[nl]=Woordenschatgegevens voor plasmoids
Comment[nn]=Orddata for plasmoidar
Comment[pl]=Dane słownikowe dla plazmoidów
Comment[pt]=Dados de vocabulário dos Plasmóides
Comment[pt_BR]=Dados de vocabulário para plasmoides
Comment[ro]=Vocabular pentru plasmoizi
Comment[ru]=Словарные данные для плазмоидов
Comment[sv]=Ordförrådsdata för plasmoider
Comment[tr]=Plazma programcıkları için sözcük hazinesi verileri
Comment[uk]=Словникові дані для Плазмоїдів
Comment[x-test]=xxVocabulary data for Plasmoidsxx
Comment[zh_CN]=Plasmoids 单词数据
Comment[zh_TW]=Plasmoids 字彙資料

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=parley
X-KDE-Library=plasma_engine_parley

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=parley
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
