[Desktop Entry]
Name=Parley Data Engine
Name[ga]=Inneall Sonraí Parley
Name[pt]=Motor de Dados do Parley
Name[pt_BR]=Motor de Dados do Parley
Name[uk]=Рушій даних Parley
Comment=Vocabulary data for Plasmoids
Comment[ga]=Sonraí Stóir Focal le haghaidh Plasmoids
Comment[pt]=Dados de vocabulário dos Plasmóides
Comment[pt_BR]=Dados de vocabulário dos Plasmóides
Comment[uk]=Словникові дані для Плазмоїдів

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=parley
X-KDE-Library=plasma_engine_parley
X-Plasma-EngineName=parley
