[KGameTheme]
Name=Bees
Name[en_GB]=Bees
Name[es]=Abejas
Name[it]=Api
Name[nb]=Bier
Name[nl]=Bijen
Name[pt]=Abelhas
Name[pt_BR]=Abelhas
Name[sv]=Bin
Name[uk]=Бджілки
Name[x-test]=xxBeesxx
Name[zh_TW]=蜜蜂
Description=Awesome cute bees (disfigured by Parley developers).
Description[en_GB]=Awesome cute bees (disfigured by Parley developers).
Description[es]=Abejas increíblemente guapas (desfiguradas por los desarrolladores de Parley).
Description[nb]=Uhorvelig søte bier (maltraktert av Parley-utviklere).
Description[nl]=Ontzettend lieve bijen (van figuur ontdaan door Parley topontwikkelaars).
Description[pt]=Abelhas giras (desfiguradas pelos programadores do Parley).
Description[pt_BR]=Abelhas esperta (desfiguradas pelos desenvolvedores do Parley).
Description[sv]=Fantastiskt söta bin (vanställda av Parleys utvecklare).
Description[uk]=Чудові розумненькі бджілки (зіпсовані розробниками Parley).
Description[x-test]=xxAwesome cute bees (disfigured by Parley developers).xx
Description[zh_TW]=可愛又可怕的蜜蜂（Parley 開發者讓它破相）
VersionFormat=1
Author=Jarle Richard Akselsen
AuthorEmail=jarle.r.akselsen@gmail.com
Type=SVG
FileName=bees_theme.svgz
Preview=bees_theme_preview.jpg
X-Parley-Font-Color-Start=ffffff
X-Parley-Font-Color-Outer=ffffff
X-Parley-Font-Color-Central=000000
X-Parley-Font-Color-Correct=006c00
X-Parley-Font-Color-Wrong=bf0303
