[KGameTheme]
Name=Gray
Name[ca]=Gris
Name[ca@valencia]=Gris
Name[da]=Gråt
Name[de]=Grau
Name[en_GB]=Grey
Name[es]=Gris
Name[et]=Hall
Name[fr]=Gris
Name[it]=Grigio
Name[km]=ពណ៌​ប្រផេះ
Name[nb]=Grå
Name[nds]=Gries
Name[nl]=Grijs
Name[pt]=Cinzento
Name[pt_BR]=Cinza
Name[sv]=Grå
Name[uk]=Сіра
Name[x-test]=xxGrayxx
Name[zh_TW]=灰
Description=A simple gray theme.
Description[ca]=Un tema gris senzill.
Description[ca@valencia]=Un tema gris senzill.
Description[da]=Et simpelt gråt tema.
Description[de]=Ein einfaches graues Design.
Description[en_GB]=A simple grey theme.
Description[es]=Un sencillo tema gris.
Description[et]=Lihtne hall teema.
Description[fr]=Un thème gris tout simple.
Description[it]=Un semplice tema grigio.
Description[km]=ស្បែក​ធម្មតា​ពណ៌​ប្រផេះ ។
Description[nb]=Et enkelt grått tema.
Description[nds]=En eenfach gries Muster
Description[nl]=Een eenvoudig grijs thema
Description[pt]=Um tema cinzento simples.
Description[pt_BR]=Um tema cinza simples.
Description[sv]=Ett enkelt grått tema.
Description[uk]=Проста сіра тема.
Description[x-test]=xxA simple gray theme.xx
Description[zh_TW]=簡單的灰色主題。
VersionFormat=1
Author=Daniel Laidig
AuthorEmail=laidig@kde.org
Type=SVG
FileName=theme_reference.svgz
Preview=theme_reference_preview.jpg
X-Parley-startbackground=background
X-Parley-Font-Color-Start=000000
X-Parley-Font-Color-Outer=000000
X-Parley-Font-Color-Central=000000
X-Parley-Font-Color-Correct=006e28
X-Parley-Font-Color-Wrong=bf0303
