[Desktop Entry]
Name=SQLite3
Name[bg]=SQLite3
Name[br]=SQLite3
Name[bs]=SQLite3
Name[ca]=SQLite3
Name[ca@valencia]=SQLite3
Name[cs]=SQLite3
Name[cy]=SQLite3
Name[da]=SQLite3
Name[de]=SQLite3
Name[el]=SQLite3
Name[en_GB]=SQLite3
Name[eo]=SQLite3
Name[es]=SQLite3
Name[et]=SQLite3
Name[eu]=SQLite3
Name[fi]=SQLite3
Name[fr]=SQLite3
Name[fy]=SQLite3
Name[ga]=SQLite3
Name[gl]=SQLite3
Name[he]=SQLite3
Name[hi]=एसक्यूलाइट३
Name[hne]=एसक्यूलाइट३
Name[hr]=SQLite3
Name[hu]=SQLite3
Name[ia]=Sqlite3
Name[is]=SQLite3
Name[it]=SQLite3
Name[ja]=SQLite3
Name[kk]=SQLite3
Name[ko]=SQLite3
Name[lt]=SQLite3
Name[lv]=SQLite3
Name[mr]=एसक्युलाइट3
Name[ms]=SQLite3
Name[nb]=SQLite3
Name[nds]=SQLite3
Name[ne]=SQLite3
Name[nl]=SQLite3
Name[pl]=SQLite3
Name[pt]=SQLite3
Name[pt_BR]=SQLite3
Name[ro]=SQLite3
Name[ru]=SQLite3
Name[se]=SQLite3
Name[sk]=SQLite3
Name[sl]=SQLite3
Name[sv]=Sqlite 3
Name[ta]=எஸ்கியூலைட்3
Name[tg]=SQLite3
Name[tr]=SQLite3
Name[uk]=SQLite3
Name[uz]=SQLite3
Name[uz@cyrillic]=SQLite3
Name[wa]=SQLite3
Name[x-test]=xxSQLite3xx
Name[zh_CN]=SQLite3
Name[zh_TW]=SQLite3
Comment=SQLite is default Parley embedded SQL engine
X-KDE-Library=parleydb_sqlite3driver
X-KDE-ServiceTypes=Parley/DBDriver
Type=Service
InitialPreference=8
X-Kexi-DriverName=SQLite3
X-Kexi-DriverType=File
X-Kexi-FileDBDriverMimeList=application/x-sqlite3,application/x-kexiproject-sqlite3,application/x-hk_classes-sqlite3
X-Kexi-KexiDBVersion=1.9
