[Desktop Entry]
Encoding=UTF-8
GenericName=Vocabulary Trainer
GenericName[ar]=مدرب للمعاني
GenericName[bg]=Треньор за проверка на речника
GenericName[bs]=Učitelj rječnika
GenericName[cs]=Výuka slovní zásoby
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Vokabeltrainer
GenericName[el]=Εκπαιδευτής Λεξιλόγιου
GenericName[eo]=Instruilo pri fremdlingvaj vortoj
GenericName[es]=Entrenador de vocabulario
GenericName[eu]=Hitz-altxor Entrenatzailea
GenericName[fi]=Sanastonharjoitteluohjelma
GenericName[fr]=Pour tester son vocabulaire
GenericName[he]=מאמן אוצר מילים
GenericName[hu]=szókincsfejlesztő
GenericName[it]=Programma per allenare il vocabolario
GenericName[ja]=ボキャブラリの強化
GenericName[lt]=Žodyno treniruoklis
GenericName[nl]=woordenschat trainer
GenericName[nn]=Glosetrening
GenericName[pt]=Treinador de Vocabulário
GenericName[pt_BR]=Um Treinador de Vocabulário
GenericName[ro]=Antrenare vocabular
GenericName[sk]=Tréning slovnej zásoby
GenericName[sl]=Učitelj besednega zaklada
GenericName[sv]=Ordförrådsträning
GenericName[th]=ฝึกออกเสียงคำศัพท์
GenericName[uk]=Тренування словників
GenericName[ven]=Mugudisi wa ndivho
GenericName[vi]=Luyện từvựng
GenericName[xx]=xx
GenericName[zh_CN]=词汇练习
GenericName[zu]=Umlolongi Wokusetshenziswa kwamagama
BinaryPattern=kvoctrain;
Name=KVocTrain
Name[ar]=مدرب المعاني
Name[eo]=Vortotrenilo
Name[pt_BR]=Treina vobulário
Name[sv]=Kvoctrain
Name[th]=ฝึกออกเสียงคำศัพท์ - K
Name[ven]=U gudiswa ha K
Name[xx]=xx
Name[zu]=KVocIsitimela
MimeType=application/x-kvoctrain;
Exec=kvoctrain
Icon=kvoctrain
DocPath=kvoctrain/index.html
Type=Application
Terminal=0
MimeType=text/x-kvtml
#ServiceTypes=Browser/View
#X-KDE-Library=libkorganizer
