[Desktop Entry]
Encoding=UTF-8
GenericName=Vocabulary Trainer
GenericName[af]=Woordeskat Afrigter
GenericName[bg]=Треньор за проверка на речника
GenericName[bs]=Učitelj rječnika
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Vokabeltrainer
GenericName[el]=Εκπαιδευτής λεξιλογίου
GenericName[es]=Entrenador de vocabulario
GenericName[et]=Sõnavara treening
GenericName[fr]=Pour tester son vocabulaire
GenericName[he]=מאמן אוצר מילים
GenericName[hr]=Trener vokabulara
GenericName[hu]=szókincsfejlesztő
GenericName[it]=Programma per allenare il vocabolario
GenericName[ja]=ボキャブラリの強化
GenericName[lt]=Žodyno treniruoklis
GenericName[lv]=Mācību Vārdnīca
GenericName[nb]=Gloseøver
GenericName[nl]=woordenschat trainer
GenericName[nn]=Glosetrening
GenericName[nso]=Morutisi wa Tsebo ya Mantsu
GenericName[pl]=Trening słownictwa
GenericName[pt]=Treinar o Vocabulário
GenericName[pt_BR]=Um Treinador de Vocabulário
GenericName[ru]=Тренер словаря
GenericName[sk]=Tréning slovnej zásoby
GenericName[sl]=Učitelj besednega zaklada
GenericName[sv]=Ordförrådsträning
GenericName[ven]=Mugudisi wa ndivho
GenericName[xh]=Uqeqeshi Wonobumba ababekwe ngokulandelelana
GenericName[zh_CN]=单词练习
GenericName[zh_TW]=字彙訓練師
GenericName[zu]=Umlolongi Wokusetshenziswa kwamagama
BinaryPattern=kvoctrain;
Name=KVocTrain
Name[af]=K-woord-leerder
Name[pt_BR]=Treina vocabulário
Name[sv]=Kvoctrain
Name[ven]=U gudiswa ha K
Name[zu]=KVocIsitimela
MimeType=application/x-kvoctrain;
Exec=kvoctrain
Icon=kvoctrain
DocPath=kvoctrain/index.html
Type=Application
Terminal=0
MimeType=text/x-kvtml
#ServiceTypes=Browser/View
#X-KDE-Library=libkorganizer
Categories=QT;KDE;Education;X-KDE-Edu-Language
