[Desktop Entry]
Encoding=UTF-8
Comment=Vocabulary Trainer Document
Comment[el]=Έγγραφο εκπαιδευτή λεξιλογίου
Comment[fr]=Document de test de vocabulaire
Comment[x-test]=xxVocabulary Trainer Documentxx
MimeType=application/x-kvoctrain
DefaultApp=kvoctrain
Icon=kvoctrain.xpm
Type=MimeType
Patterns=*.kvtml;
MimeType=text/xml
