[Desktop Entry]
Encoding=UTF-8
Comment=Vocabulary Trainer Document
Comment[af]=Woordeskat-afrigter Dokument
Comment[be]=Дакумент слоўнікавага запасу
Comment[bg]=Документ с речникови тренировки
Comment[ca]=Document de l'entrenador de vocabulari
Comment[cs]=Dokument pro procvičování slovní zásoby
Comment[cy]=Dogfen Hyfforddwr Geirfa
Comment[da]=Dokument til ordforrådsøvelser
Comment[de]=Dokument für den Vokabeltrainer
Comment[el]=Έγγραφο εκπαιδευτή λεξιλογίου
Comment[es]=Documento de entrenador de vocabulario
Comment[et]=Sõnavara treenija dokument
Comment[eu]=Hiztegi entrenatzaile dokumentua
Comment[fa]=سند مربی واژه‌ها
Comment[fi]=Sanastoharjoitusasiakirja
Comment[fr]=Document de test de vocabulaire
Comment[gl]=Documento de KVocTrain
Comment[he]=מסמך מאמן אוצר מילים
Comment[hr]=Dokument za vježbanje vokabulara
Comment[hu]=KVocTrain-dokumentum
Comment[is]=Orðaforða skjal
Comment[it]=Documento KVocTrain
Comment[ja]=ボキャブラリ強化プログラムの語彙文書
Comment[ka]=სიტყვათა მარაგის დოკუმენტი
Comment[km]=ឯកសារ​កម្មវិធី​បង្ហាត់​វាក្យសព្ទ
Comment[lt]=Žodyno treniruoklio dokumentas
Comment[lv]=Mācību Vārdnīcas Dokuments
Comment[mk]=Документ на тренерот за речник
Comment[ms]=Dokumen Jurulatih Perbendaharaan Kata
Comment[nb]=Glosetreningsdokument
Comment[nds]=Dokment för't Vokavel-Lehren
Comment[ne]=शब्दकोश प्रशिक्षक कागजात
Comment[nl]=Vocabulary Trainer-document
Comment[nn]=Glosetreningsdokument
Comment[pl]=Dokument treningu słownictwa
Comment[pt]=Documento do Treinador de Vocabulário
Comment[pt_BR]=Documento do treinador de vocabulário
Comment[ru]=Тренировка словарного запаса
Comment[se]=Sátnehárjehallan-dokumeanta
Comment[sl]=Dokument za KVocTrain
Comment[sr]=Документ тренера речника
Comment[sr@latin]=Dokument trenera rečnika
Comment[sv]=Ordförrådsdokument
Comment[ta]=சொல்லாக்க பயிற்சியாளர் ஆவணம்
Comment[tg]=Ҳуҷҷати Машқи Луғат
Comment[tr]=Sözlük Eğitmen Belgesi
Comment[uk]=Документ тренування словникового запасу
Comment[vi]=Tài liệu Luyện tập Từ vựng
Comment[x-test]=xxVocabulary Trainer Documentxx
Comment[zh_TW]=字彙訓練師文件
MimeType=application/x-kvoctrain
DefaultApp=kvoctrain
Icon=kvoctrain.xpm
Type=MimeType
Patterns=*.kvtml;
