[Desktop Entry]
Encoding=UTF-8
Comment=Vocabulary Trainer Document
Comment[ar]=مستند مدرب المعاني
Comment[bg]=Документ за Треньора за проверка на речника
Comment[bs]=Vocabulary Trainer dokument
Comment[cs]=Dokument výuky slovní zásoby
Comment[da]=Dokument til ordforrådsøvelser
Comment[de]=Dokument für den Vokabeltrainer
Comment[el]=Έγγραφο Εκπαιδευτή Λεξιλόγιου
Comment[eo]=Vortotrenilo-dokumento
Comment[es]=Documento de entrenador de vocabulario
Comment[eu]=Hitz-altxor Entrenatzailea Dokumentua
Comment[fi]=Sanastonharjoitteluohjelman-asiakirja
Comment[fr]=Document KVocTrain
Comment[he]=מסמך מאמן אוצר מילים
Comment[hu]=KVocTrain dokumentum
Comment[it]=Documento KVocTrain
Comment[ja]=ボキャブラリ強化のドキュメント
Comment[lt]=Žodyno treniruoklio dokumentas
Comment[nl]=Vocabulary Trainer-document
Comment[nn]=Glosetreningsdokument
Comment[pt]=Documento do Treinador de Vocabulário
Comment[pt_BR]=Documento do treinador de vocabulário
Comment[ro]=Document antrenare vocabular
Comment[sk]=Dokument KVocTrain
Comment[sl]=Dokument za KVocTrain
Comment[sv]=Ordförrådsdokument
Comment[th]=เอกสารฝึกออกเสียงคำศัพท์
Comment[uk]=Документ тренування словників
Comment[ven]=Muhumbulo wa mugudisi wa manwalwa
Comment[vi]=Tài liệu luyện từ vựng
Comment[xx]=xx
Comment[zh_CN]=词汇练习文档
Comment[zu]=Idokhumenti Yomlolongi Wokusetshenziswa kwamagama
MimeType=application/x-kvoctrain
DefaultApp=kvoctrain
Icon=kvoctrain.xpm
Type=MimeType
Patterns=*.kvtml;
MimeType=text/xml
