[Desktop Entry]
Name=Parley
Name[bg]=Parley
Name[bs]=Parley
Name[ca]=Parley
Name[ca@valencia]=Parley
Name[cs]=Parley
Name[csb]=Parley
Name[da]=Parley
Name[de]=Parley
Name[el]=Parley
Name[en_GB]=Parley
Name[eo]=Parley
Name[es]=Parley
Name[et]=Parley
Name[eu]=Parley
Name[fi]=Parley
Name[fr]=Parley
Name[ga]=Parley
Name[gl]=Parley
Name[gu]=પારેલે
Name[he]=Parley
Name[hi]=पारले
Name[hne]=पारले
Name[hr]=Parley
Name[hu]=Parley
Name[ia]=Parley
Name[is]=Parley
Name[it]=Parley
Name[ja]=Parley
Name[kk]=Parley
Name[km]=Parley
Name[ko]=Parley
Name[lt]=Parley
Name[lv]=Parley
Name[ml]=പാര്‍ലി
Name[mr]=पारले
Name[nb]=Parley
Name[nds]=Parley
Name[ne]=पार्ली
Name[nl]=Parley
Name[nn]=Parley
Name[pl]=Parley
Name[pt]=Parley
Name[pt_BR]=Parley
Name[ro]=Parley
Name[ru]=Parley
Name[sk]=Parley
Name[sl]=Parely
Name[sv]=Parley
Name[tr]=Parley
Name[ug]=Parley
Name[uk]=Parley
Name[x-test]=xxParleyxx
Name[zh_CN]=Parley
Name[zh_TW]=語言_Parley
MimeType=application/x-kvtml;
Exec=parley %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
Comment=A program to help you memorize things.
Comment[ca]=Un programa per a ajudar a memoritzar les coses.
Comment[ca@valencia]=Un programa per a ajudar a memoritzar les coses.
Comment[cs]=Program, který vám pomůže zapamatovat si věci.
Comment[de]=Ein Programm, das Ihnen hilft, sich Dinge einzuprägen
Comment[el]=Πρόγραμμα που θα σας βοηθήσει στην απομνημόνευση πραγμάτων.
Comment[en_GB]=A program to help you memorise things.
Comment[es]=Un programa para ayudarle a memorizar cosas.
Comment[et]=Rakendus meeldejätmise hõlbustamiseks ja harjutamiseks.
Comment[eu]=Gauzak buruz ikasten laguntzeko programa bat.
Comment[fi]=Ohjelma asioiden ulkoa opettelemiseen.
Comment[fr]=Un programme qui vous aide à mémoriser des connaissances.
Comment[gl]=Un programa para axudalo a memorizar cousas.
Comment[it]=Un programma per aiutarti a memorizzare le cose.
Comment[ko]=기억하는 것을 도와 주는 프로그램입니다.
Comment[nl]=Een programma om u te helpen dingen te onthouden.
Comment[nn]=Eit program for å hjelpa deg å hugsa ting.
Comment[pl]=Program pomagający ci zapamiętać różne rzeczy.
Comment[pt]=Um programa para o ajudar a memorizar coisas.
Comment[pt_BR]=Um programa para ajudar na memorização.
Comment[sk]=Program, ktorý vám pomôže zapamätať si veci.
Comment[sl]=Program za pomoč pri pomnjenju stvari.
Comment[sv]=Ett program som hjälper dig memorera saker.
Comment[tr]=Birşeyleri hatırlamanıza yardımcı olan bir program.
Comment[uk]=Програма, яка допоможе вам запам’ятовувати знання.
Comment[x-test]=xxA program to help you memorize things.xx
Comment[zh_CN]=一个帮助您记住事情的程序。
Comment[zh_TW]=訓練記憶力的程式。
X-DBUS-ServiceName=org.kde.parley
GenericName=Vocabulary Trainer
GenericName[af]=Woordeskat-afrigter
GenericName[be]=Пашырэнне слоўнікавага запасу
GenericName[bg]=Речникови тренировки
GenericName[bn]=শব্দভাণ্ডার সমৃদ্ধকারী
GenericName[bs]=Trener riječnika
GenericName[ca]=Entrenador de vocabulari
GenericName[ca@valencia]=Entrenador de vocabulari
GenericName[cs]=Učitel slovní zásoby
GenericName[csb]=Cwiczenczi ze słowiznë
GenericName[cy]=Hyfforddwr Geirfa
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Vokabeltrainer
GenericName[el]=Εκπαιδευτής λεξιλογίου
GenericName[en_GB]=Vocabulary Trainer
GenericName[eo]=Vortoproviza ekzercilo
GenericName[es]=Tutor de vocabulario
GenericName[et]=Sõnavara treening
GenericName[eu]=Hiztegi trebatzailea
GenericName[fa]=مربی واژه‌ها
GenericName[fi]=Sanaston harjoitusohjelma
GenericName[fr]=Exercices de vocabulaire
GenericName[ga]=Oiliúnóir Stóir Focal
GenericName[gl]=Adestrador de vocabulario
GenericName[gu]=શબ્દયાદી શિખવનાર
GenericName[he]=מאמן אוצר מילים
GenericName[hi]=शब्दावली प्रशिक्षक
GenericName[hne]=सब्दावली प्रसिक्छक
GenericName[hr]=Vježbanje vokabulara
GenericName[hu]=Szótárfüzet
GenericName[ia]=Instructor de vocabulario
GenericName[is]=Æfir orðaforða
GenericName[it]=Apprendimento di vocaboli
GenericName[ja]=ボキャブラリ強化プログラム
GenericName[ka]=სიტყვათა მარაგის შემოწმება
GenericName[kk]=Сөз жаттығулары
GenericName[km]=កម្មវិធី​បង្ហាត់​វាក្យសព្ទ
GenericName[ko]=어휘 연습 도구
GenericName[lt]=Žodyno treniruoklis
GenericName[lv]=Vārdnīcas treniņš
GenericName[mk]=Тренер за речник
GenericName[ml]=വാക്പട്ടിക പഠനസഹായി
GenericName[mr]=शब्दावली प्रशिक्षक
GenericName[ms]=Jurulatih Perbendaharaan Kata
GenericName[nb]=Glosetrening
GenericName[nds]=Vokaveln lehren
GenericName[ne]=शब्दकोश प्रशिक्षक
GenericName[nl]=Woordenschat trainen
GenericName[nn]=Gloseøving
GenericName[pl]=Trening słownictwa
GenericName[pt]=Treinar o Vocabulário
GenericName[pt_BR]=Treinador de vocabulário
GenericName[ro]=Antrenarea vocabularului
GenericName[ru]=Тренировка словарного запаса
GenericName[se]=Sátnehárjeheapmi
GenericName[sk]=Tréning slovnej zásoby
GenericName[sl]=Učenje besedišča
GenericName[sv]=Ordförrådsträning
GenericName[ta]=சொல்லாக்க பயிற்சியாளர்
GenericName[tg]=Машқи Луғат
GenericName[tr]=Kelime Çalıştırıcı
GenericName[ug]=خام سوز مەشىق پروگراممىسى
GenericName[uk]=Тренування словникового запасу
GenericName[vi]=Luyện tập Từ vựng
GenericName[xh]=Uqeqeshi Wonobumba ababekwe ngokulandelelana
GenericName[x-test]=xxVocabulary Trainerxx
GenericName[zh_CN]=词汇练习器
GenericName[zh_TW]=字彙訓練師

