<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="parley"  version="0.2">
 <MenuBar>
  <Menu name="file" >
   <Action append="open_merge" name="file_open_example" />
   <Action append="open_merge" name="file_ghns" />
   <Separator append="open_merge" />
   <Action append="open_merge" name="file_merge" />
   <Action append="save_merge" name="edit_save_selected_area" />
   <Separator/>
   <Action name="file_properties" />
   <Separator/>
  </Menu>
  <Menu name="edit" >
      <Separator/>
      <Action name="edit_languages" />
      <Action name="edit_grammar" />
      <Separator/>
      <Action name="edit_append" />
      <Action name="edit_remove_selected_area" />
      <Separator/>
      <Action name="edit_edit_selected_area" />
      <Action name="vocab_clean_up" />
  </Menu>
  <Menu name="lesson" >
   <text>&amp;Lesson</text>
   <Action name="new_lesson" />
   <Action name="rename_lesson" />
   <Action name="delete_lesson" />
   <Separator/>
   <Action name="check_all_lessons" />
   <Action name="check_no_lessons" />
   <Separator/>
   <Action name="split_lesson" />
  </Menu>
  <Menu name="learning" >
   <text>&amp;Practice</text>
   <Action name="practice_configure" />
   <Action name="practice_start" />
   <Separator/>
   <Action name="show_statistics" />
  </Menu>
  <Menu name="settings" >
   <Menu name="tools" >
   <text>Tools</text>
    <Action name="show_lesson_dock"/>
   </Menu>
   <Action name="config_show_search" />
   <Action name="show_vocabulary_columns_menu" />
  </Menu>
 </MenuBar>

 <ToolBar noMerge="1" name="mainToolBar" >
  <text>Main Toolbar</text>
  <Action name="file_open" />
  <Action name="file_save" />
  <Separator/>
  <Action name="edit_copy" />
  <Action name="edit_paste" />
  <Separator/>
  <Action name="new_lesson" />
  <Action name="edit_append" />
  <Separator/>
  <Action name="edit_selected_area" />
  <Separator/>
  <Action name="practice_configure"/>
  <Action name="practice_start" />
 </ToolBar>
</gui>
