[Desktop Entry]
Name=Parley Practice
Name[uk]=Тренування Parley
MimeType=application/x-kvtml;
Exec=parley -p %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
GenericName=Vocabulary Practice
GenericName[uk]=Тренування словникового запасу

