[Desktop Entry]
Name=Parley
Name[ast]=Parley
Name[ca]=Parley
Name[ca@valencia]=Parley
Name[cs]=Parley
Name[csb]=Parley
Name[da]=Parley
Name[de]=Parley
Name[el]=Parley
Name[en_GB]=Parley
Name[eo]=Parley
Name[es]=Parley
Name[et]=Parley
Name[eu]=Berba egin
Name[fi]=Parley
Name[fr]=Parley
Name[ga]=Parley
Name[gl]=Parley
Name[gu]=પારેલે
Name[he]=Parley
Name[hi]=पारले
Name[hne]=पारले
Name[hr]=Parley
Name[hu]=Parley
Name[is]=Parley
Name[it]=Parley
Name[ja]=Parley
Name[km]=Parley
Name[ko]=Parley
Name[lt]=Parley
Name[lv]=Parley
Name[ml]=പാര്‍ലി
Name[nb]=Parley
Name[nds]=Parley
Name[ne]=पार्ली
Name[nl]=Parley
Name[nn]=Parley
Name[pl]=Parley
Name[pt]=Parley
Name[pt_BR]=Parley
Name[ro]=Parley
Name[ru]=Parley
Name[sl]=Parely
Name[sv]=Parley
Name[tr]=Parley
Name[uk]=Parley
Name[x-test]=xxParleyxx
Name[zh_CN]=Parley
Name[zh_TW]=語言_Parley
MimeType=application/x-kvtml;
Exec=parley %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
GenericName=Vocabulary Trainer
GenericName[af]=Woordeskat-afrigter
GenericName[ast]=Tutor de vocabulariu
GenericName[be]=Пашырэнне слоўнікавага запасу
GenericName[bg]=Речникови тренировки
GenericName[bn]=শব্দভাণ্ডার সমৃদ্ধকারী
GenericName[ca]=Entrenador de vocabulari
GenericName[ca@valencia]=Entrenador de vocabulari
GenericName[cs]=Učitel slovní zásoby
GenericName[csb]=Cwiczenczi ze słowiznë
GenericName[cy]=Hyfforddwr Geirfa
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Vokabeltrainer
GenericName[el]=Εκπαιδευτής λεξιλογίου
GenericName[en_GB]=Vocabulary Trainer
GenericName[eo]=Vortoproviza ekzercilo
GenericName[es]=Tutor de vocabulario
GenericName[et]=Sõnavara treening
GenericName[eu]=Hiztegi entrenatzailea
GenericName[fa]=مربی واژه‌ها
GenericName[fi]=Sanaston harjoitusohjelma
GenericName[fr]=Tester son vocabulaire
GenericName[ga]=Oiliúnóir Stóir Focal
GenericName[gl]=Adestrador de vocabulario
GenericName[gu]=શબ્દયાદી શિખવનાર
GenericName[he]=מאמן אוצר מילים
GenericName[hi]=शब्दावली प्रशिक्षक
GenericName[hne]=सब्दावली प्रसिक्छक
GenericName[hr]=Vježbanje vokabulara
GenericName[hu]=Szótárfüzet
GenericName[is]=Æfir orðaforða
GenericName[it]=Apprendimento di vocaboli
GenericName[ja]=ボキャブラリ強化プログラム
GenericName[ka]=სიტყვათა მარაგის შემოწმება
GenericName[km]=កម្មវិធី​បង្ហាត់​វាក្យសព្ទ
GenericName[ko]=어휘 연습 도구
GenericName[lt]=Žodyno treniruoklis
GenericName[lv]=Vārdnīcas treniņš
GenericName[mk]=Тренер за речник
GenericName[ml]=വാക്പട്ടിക പഠനസഹായി
GenericName[ms]=Jurulatih Perbendaharaan Kata
GenericName[nb]=Glosetrening
GenericName[nds]=Vokaveln lehren
GenericName[ne]=शब्दकोश प्रशिक्षक
GenericName[nl]=Woordenschattrainer
GenericName[nn]=Gloseøving
GenericName[pl]=Trening słownictwa
GenericName[pt]=Treinar o Vocabulário
GenericName[pt_BR]=Treinador de vocabulário
GenericName[ro]=Antrenarea vocabularului
GenericName[ru]=Тренировка словарного запаса
GenericName[se]=Sátnehárjeheapmi
GenericName[sk]=Tréning slovnej zásoby
GenericName[sl]=Učitelj besednega zaklada
GenericName[sv]=Ordförrådsträning
GenericName[ta]=சொல்லாக்க பயிற்சியாளர்
GenericName[tg]=Машқи Луғат
GenericName[tr]=Kelime Çalıştırıcı
GenericName[uk]=Тренування словникового запасу
GenericName[vi]=Luyện tập Từ vựng
GenericName[xh]=Uqeqeshi Wonobumba ababekwe ngokulandelelana
GenericName[x-test]=xxVocabulary Trainerxx
GenericName[zh_CN]=单词练习
GenericName[zh_TW]=字彙訓練師

