[Desktop Entry]
Name=Parley Practice
Name[et]=Parley harjutamine
Name[ga]=Cleachtadh Parley
Name[km]=អនុវត្ត Parley
Name[pt]=Exercício do Parley
Name[pt_BR]=Exercício do Parley
Name[uk]=Тренування Parley
Name[zh_TW]=Parley 練習
MimeType=application/x-kvtml;
Exec=parley -p %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
GenericName=Vocabulary Practice
GenericName[et]=Sõnavara harjutamine
GenericName[km]=អនុវត្ត​វាក្យស័ព្ទ
GenericName[pt]=Exercício de Vocabulário
GenericName[pt_BR]=Exercício de Vocabulário
GenericName[uk]=Тренування словникового запасу
GenericName[zh_TW]=字彙練習

