[Desktop Entry]
Name=Parley Practice
Name[et]=Parley harjutamine
Name[ga]=Cleachtadh Parley
Name[gl]=Prática con Parley
Name[gu]=પારેલે અભ્યાસ
Name[he]=אימון Parley 
Name[km]=អនុវត្ត Parley
Name[nb]=Parley øvelse
Name[nds]=Parley-Öven
Name[nn]=Parley-øving
Name[pt]=Exercício do Parley
Name[pt_BR]=Exercício do Parley
Name[sv]=Övning med Parley
Name[uk]=Тренування Parley
Name[zh_TW]=Parley 練習
MimeType=application/x-kvtml;
Exec=parley -p %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
GenericName=Vocabulary Practice
GenericName[et]=Sõnavara harjutamine
GenericName[gl]=Práticas de vocabulario
GenericName[gu]=શબ્દયાદી અભ્યાસ
GenericName[he]=אימון שלאוצר מילים
GenericName[km]=អនុវត្ត​វាក្យស័ព្ទ
GenericName[nb]=Gloseøvelse
GenericName[nds]=Vokaveln öven
GenericName[nn]=Gloseøving
GenericName[pt]=Exercício de Vocabulário
GenericName[pt_BR]=Exercício de Vocabulário
GenericName[sv]=Ordförrådsövning
GenericName[uk]=Тренування словникового запасу
GenericName[zh_TW]=字彙練習

