<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="parley"  version="2">

<MenuBar>
    <Menu name="file" >
        <Action append="open_merge" name="file_open_example" />
        <Action append="open_merge" name="file_ghns" />
        <Action append="open_merge" name="file_open_downloaded" />
        <Separator/>
        <Action name="file_export" />
        <Separator/>
        <Action name="file_properties" />
        <Separator/>
    </Menu>
  <Menu name="edit" >
      <Separator/>
      <Action name="edit_languages" />
      <Action name="edit_grammar" />
      <Separator/>
      <Action name="edit_append" />
      <Action name="edit_remove_selected_area" />
      <Separator/>
      <Action name="edit_edit_selected_area" />
      <Action name="vocab_clean_up" />
  </Menu>
  <Menu name="view" >
      <text>View</text>
      <Action name="show_vocabulary_columns_menu" />
      <Separator/>
      <Action name="show_lesson_dock"/>
      <Action name="show_wordtype_dock"/>
      <Action name="show_leitner_dock"/>
      <Separator/>
      <Action name="show_image_dock"/>
      <Action name="show_audio_dock"/>
      <Action name="show_multiplechoice_dock"/>
      <Action name="show_pronunciation_dock"/>
      <Separator/>
      <Action name="show_synonym_dock"/>
      <Action name="show_antonym_dock"/>
      <Action name="show_falsefriend_dock"/>
      <Separator/>
      <Action name="show_comparison_dock"/>
      <Action name="show_conjugation_dock"/>
      <Action name="show_declension_dock"/>
      <Separator/>
      <Action name="show_browser_dock"/>
      <Action name="config_show_search" />
  </Menu>
  <Menu name="lesson" >
   <text>&amp;Lesson</text>
   <Action name="new_lesson" />
   <Action name="rename_lesson" />
   <Action name="delete_lesson" />
   <Separator/>
   <Action name="split_lesson" />
   <Separator/>
   <Action name="lesson_showsublessonentries" />
  </Menu>
  <Menu name="learning" >
   <text>&amp;Practice</text>
   <Action name="practice_configure" />
   <Action name="practice_start" />
   <Separator/>
   <Action name="show_statistics" />
  </Menu>
  <Menu name="settings" >
  </Menu>
  <Menu name="help"><text>&amp;Help</text>
    <Action name="help_tipofday"/>
  </Menu>
 </MenuBar>

 <ToolBar noMerge="1" name="mainToolBar" >
  <text>Main Toolbar</text>
  <Action name="file_open" />
  <Action name="file_save" />
  <Separator/>
  <Action name="edit_copy" />
  <Action name="edit_paste" />
  <Separator/>
  <Action name="new_lesson" />
  <Action name="edit_append" />
  <Separator/>
  <Action name="edit_selected_area" />
  <Separator/>
  <Action name="practice_configure"/>
  <Action name="practice_start" />
 </ToolBar>
</gui>
