[Desktop Entry]
Name=Parley
MimeType=application/x-kvtml;
Exec=parley %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
GenericName=Vocabulary Trainer

