[Desktop Entry]
GenericName=Vocabulary Trainer
GenericName[af]=Woordeskat-afrigter
GenericName[be]=Пашырэнне слоўнікавага запасу
GenericName[bg]=Речникови тренировки
GenericName[ca]=Entrenador de vocabulari
GenericName[cs]=Procvičování slovní zásoby
GenericName[cy]=Hyfforddwr Geirfa
GenericName[da]=Ordforrådsøvelser
GenericName[de]=Vokabeltrainer
GenericName[el]=Εκπαιδευτής λεξιλογίου
GenericName[eo]=Vortoproviza ekzercilo
GenericName[es]=Entrenador de vocabulario
GenericName[et]=Sõnavara treening
GenericName[eu]=Hiztegi entrenatzailea
GenericName[fa]=مربی واژه‌ها
GenericName[fi]=Sanaston harjoittaja
GenericName[fr]=Tester son vocabulaire
GenericName[ga]=Oiliúnóir Stóir Focal
GenericName[gl]=Entrenador de Vocabulario
GenericName[he]=מאמן אוצר מילים
GenericName[hr]=Vježbanje vokabulara
GenericName[hu]=Szótárfüzet
GenericName[is]=Æfir orðaforða
GenericName[it]=Apprendimento di vocaboli
GenericName[ja]=ボキャブラリ強化プログラム
GenericName[ka]=სიტყვათა მარაგის შემოწმება
GenericName[km]=កម្មវិធី​បង្ហាត់​វាក្យសព្ទ
GenericName[ko]=어휘 연습 도구
GenericName[lt]=Žodyno treniruoklis
GenericName[lv]=Mācību Vārdnīca
GenericName[mk]=Тренер за речник
GenericName[ms]=Jurulatih Perbendaharaan Kata
GenericName[nb]=Glosetrening
GenericName[nds]=Vokaveln lehren
GenericName[ne]=शब्दकोश प्रशिक्षक
GenericName[nl]=Woordenschattrainer
GenericName[nn]=Glosetrening
GenericName[pl]=Trening słownictwa
GenericName[pt]=Treinar o Vocabulário
GenericName[pt_BR]=Um Treinador de Vocabulário
GenericName[ru]=Тренировка словарного запаса
GenericName[se]=Sátnehárjeheapmi
GenericName[sl]=Učitelj besednega zaklada
GenericName[sr]=Тренер речника
GenericName[sr@latin]=Trener rečnika
GenericName[sv]=Ordförrådsträning
GenericName[ta]=சொல்லாக்க பயிற்சியாளர்
GenericName[tg]=Машқи Луғат
GenericName[uk]=Тренування словникового запасу
GenericName[vi]=Luyện tập Từ vựng
GenericName[x-test]=xxVocabulary Trainerxx
GenericName[xh]=Uqeqeshi Wonobumba ababekwe ngokulandelelana
GenericName[zh_CN]=单词练习
GenericName[zh_TW]=字彙訓練師
Name=Parley
Name[sl]=Parely
Name[x-test]=xxParleyxx
MimeType=application/x-parley;text/x-kvtml;
Exec=parley
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
